#commm_togglr{
	border-radius: 50%;
	background-color: yellow;
	width: 55px;
	height: 55px;
	position: fixed;
	z-index: 99999;
	
	display: flex;
	align-items:center;
	justify-content:center;

	top: 1rem;
	right: 1rem;
}

#commm_togglr_inner{
	padding: 1rem;
	font-size: 16px;
}

#commm{
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 80%;
	position: fixed;
	z-index: 99999;

	width: 350px;
	
	background-color: #eee;

	top: 0;
	right: 0;

	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch; /* lets it scroll lazy */
}


.commm_head_hide{
	padding: .5rem;
	background-color: #ccc;
	color: white;
	display: flex;
	justify-content:space-between;
	cursor: pointer;
}

#commm_login_btn{
	height: 100px;
	display: flex;
	justify-content:center;
	align-items:center;
}
#commm_login_btn > img{
	width: 60%;
	cursor: pointer;
}

#commm_head{
	padding: 1rem;
	margin-bottom: 1rem;
}

#commm_name{
	display: flex;
	justify-content:space-between;
	margin-bottom: 1rem;
}
#commm_name span{
	font-size: 16px;
}


#commm_new_thread{
}
#commm_new_thread textarea{
	display: block;
	width: 100%;
	border: none;
	border: 1px solid #ccc;
}
#commm_new_thread button{
	
}

#commm_mainList{
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding: 1rem;
}

#commm_mainList textarea{
	width: 100%;
}

#commm_mainList p{
	margin: 0;
	padding: .5rem 0;
	font-size: 11px;
	font-weight: bold;
}

#commm_mainList small{
	display: block;
	font-weight: 100;
	font-size: 13px;
	line-height: 18px;
	padding-left: .75rem;
	padding-bottom: .5rem;
	border-bottom: 1px solid #eee;
}

#commm_mainList li{
	padding: 1rem;
	background-color: white;
	border:1px solid #ddd;
	margin-bottom: 1rem;
}