#commm_togglr{
	border-radius: 50%;
	background-color: yellow;
	width: 55px;
	height: 55px;
	position: fixed;
	z-index: 99999;
	
	display: flex;
	align-items:center;
	justify-content:center;

	top: 1rem;
	right: 1rem;
}

#commm_togglr_inner{
	padding: 1rem;
	font-size: 16px;
}

#commm_container{
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 80%;
	position: fixed;
	z-index: 99999;

	width: 350px;
	
	background-color: #eee;

	top: 0;
	right: 0;

	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch; /* lets it scroll lazy */
	-webkit-overflow-scrolling: auto; /* stop scrolling immediately */
}

#commm_container_inner{
	padding: 1rem;
}

#commm_head{
	padding: 1rem;
	background-color: #ccc;
	margin-bottom: 1rem;
}

#commm_mainList{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#commm_mainList p{
	margin: 0;
	padding: .5rem 0;
	font-size: 10px;
	font-weight: bold;
}

#commm_mainList small{
	display: block;
	font-weight: 100;
	font-size: 14px;
}

#commm_mainList li{
	padding: 1rem;
	background-color: white;
	border:1px solid #ddd;
	margin-bottom: 1rem;
}